*{
    background-color: antiquewhite;
}

.carre1{
    height: 200px;
    width: 200px;
    position: relative;
}

.circle1{
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    border-radius: 50%;
    animation: infinite alternate ease-in;
    position: absolute;
    
}

.anim-1{
    animation: animation-1 2s infinite alternate ease-in-out;
    background-color: blue;
}

.anim-2{
    animation: animation-2 2s infinite alternate ease-in-out; 
    background-color: white;
}

.anim-3{
    animation: animation-3 2s infinite alternate ease-in-out;
    background-color: red;
}

@keyframes animation-1 {
    from {
        margin-top: 0%;
        margin-left: 40%;
      }
    
      to {
        margin-top: 80%;
        margin-left: 40%;
}
}

@keyframes animation-2 {
    0%{
        bottom: 80%;
        left: 80%;
    }

   
    100%{
        bottom:0% ;
        left: 0%;
    }
}

@keyframes animation-3{
   0%{
    top: 0%;
    left: 0%;
   }
    25%{
        top: 0%;
        left: 80%;
    }
    75%{
        top: 80%;
        left: 0%;
    }
    100%{
        top: 80%;
        left: 80%;
    }
}